::-moz-selection {color:#fff;background:#850D0E;}
::selection {color:#fff;background:#850D0E;}
::-moz-selection {color:#fff;background:#850D0E;}


html {
}

body {
  position: relative;
  margin: 0 0 0 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #F5F5F5;
}




.contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*background: url(../images/backgroundImage.jpg);
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;*/
}

.center {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 768px;
          flex: 3 1 768px;
  margin-top: 20px;
}

.header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
  background-color: #AA2222;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerBlock1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 10px;
  font: 1.7em "RobotoBold",Consolas,sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
}

.headerBlock2 {
  margin: 0px 15px 0px 15px;
}

.headerBlock2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerBlock2 ul a{
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 5px 0 0 0;
  white-space: nowrap;
  -webkit-transition:background 0.9s ease;
  transition: background 0.9s ease;
  text-transform: uppercase;
}

.headerBlock2 ul a:hover {
  background: #B95555;
  -webkit-transition:background 0.19s ease;
  transition: background 0.19s ease;
}

.headerBlock2 ul a {
  text-decoration: none;
  font-size: 0.8em;
  padding: 0 5px 0 5px;
  font-family: "RobotoLight";
  color: #F5F5F5;
  line-height: 50px;
}

.headerBlock3 {
  position: fixed;
  right: 9px;
  top: 12px;
}

.headerForSmallDevices {

}


.riderDescription li {
  font-family: "RobotoRegular";
  font-size: 0.8em;
}


.blockOurRiders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blockRider {
  margin: 0 0 10px 0;
  max-width: 300px;
  min-width: 299px;
}


.riderName {
  font: 33px "American Captain", Consolas, Sans-Serif;
	color: #AA2222;
  padding: 0 0 0 10px;
}

.riderDescription {
  padding: 0 0 0 10px;
}

.blockHeader{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 100px;
  font: 60px "American Captain", Consolas, sans-serif;
  padding: 10px 10px 10px 10px;
}

.red {
  color: #AA2222;
  padding-right: 5px;
}

.overlay {
  background-color: #2f2d2d;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
}

.galleryWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 15;
}

.gallery {
  position: fixed;
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.closePopup {
  position: fixed;
  font-size: 30px;
  font-weight: bolder;
  padding: 0 10px 0 10px;
  z-index: 100;
  right: 0;
  top: 0;
  padding: 30px 50px;
  -webkit-transition:background 0.9s ease;
  transition: background 0.9s ease;
}

.closePopup:hover {
  background: #CCCCCC;
  -webkit-transition:background 0.19s ease;
  transition: background 0.19s ease;
}

.imgWrapper {
  z-index: 1000;
  /*height: 666px;*/
  box-shadow: 0px 0px 34px 18px rgba(0, 0, 0, 0.2);
}

.arrowLeft,
.arrowRight {
  padding: 25px;
  z-index: 100;
  -webkit-transition:background 0.9s ease;
  transition: background 0.9s ease;
  background: rgba(204, 204, 204, 0.18);
}

.arrowLeft:hover {
  background: rgba(204, 204, 204, 0.82);
}

.arrowRight:hover {
  background: rgba(204, 204, 204, 0.82);
}

.arrowLeft {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow {
  border-radius: 25px;
  -webkit-transition:opacity 0.19s ease;
  transition: opacity 0.19s ease;
  opacity: 0.7;
}

.arrow:hover {
  -webkit-transition:opacity 0.19s ease;
  transition: opacity 0.19s ease;
  opacity: 1;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*margin: 0 13%;*/
}

.sliderImg {
  margin: 5px 5px;
  -webkit-transition:opacity 0.9s ease;
  transition: opacity 0.9s ease;
  cursor: pointer;
  box-shadow: 0px 0px 56px 2px rgba(0, 0, 0, 0.2);
}

.sliderImg:hover {
  opacity: 0.8;
  -webkit-transition:opacity 0.19s ease;
  transition: opacity 0.19s ease;
}


/* наши преимущества */

.blockAdvantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantagesImages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}

.textAdvantages {
  width: 300px;
  font-family: "RobotoRegular";
  font-size: 1em;
  border-top: 5px solid #AA2222;
}

.ourPartners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ourPartnersLogos {
  margin: 0 5px 0 5px;
}

.partnerImg{
  -webkit-transition:width 0.9s ease;
  transition: width 0.9s ease;
}

.partnerImg:hover {
  width: 200px;
  -webkit-transition:width 0.9s ease;
  transition: width 0.9s ease;
}

.blockVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.youtubeVideo {
  margin: 5px 5px;
  box-shadow: 0px 0px 52px 13px rgba(0, 0, 0, 0.2)
}

.separatorLine {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.footerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showsBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.showsText {
  font: 1em "RobotoRegular";
  display: block;
  text-align: center;
  height: 42px;
}

.showsContainer {
  max-width: 200px;
  margin: 2px;
  border: 2px solid white;
  box-shadow: 0px 0px 56px 2px rgba(0, 0, 0, 0.2);
}

.showsContainer:hover {
  /*opacity: 0.3;*/
}

.beforeSlide {
  display: block;
  position: relative;
  width: 200px;
  height: 300px;
  background-image: url(../images/shows/1.jpg);
  /*background-size: 400px 300px;*/
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

.beforeSlide:hover {
  background-position: -200px 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.afterSlide {
  position: absolute;
  left: 220px;
  top: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.beforeSlide:hover .afterSlide {
  left: 20px;
  top: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.riderPhoto {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  /*background-image: url(../images/pasha.png);*/
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
  overflow: hidden;
}

#pasha {
  background-image: url(../images/pasha.png);
}

#sergey {
  background-image: url(../images/sergey.png);
}

#alexandr {
  background-image: url(../images/alexandr.png);
}

#mark {
  background-image: url(../images/mark.png);
}

#nikita {
  background-image: url(../images/nikita.png);
}

.riderPhoto:hover {
  background-position: -300px 0;
  transition: all 0.5s ease;
}

.riderSocNetPage {
  position: absolute;
  left: 310px;
  top: 10px;
  transition: all 0.5s ease;
}

.riderPhoto:hover .riderSocNetPage {
  left: 10px;
  top: 10px;
  transition: all 0.5s ease;
}
