/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.image {
		width: 800px;
		height: auto;
	}
}

/* custom */
/*@media only screen and (max-width : 1516px) and (min-width : 1199px) {
	.blockOurRiders {
		max-width: 2000px;
		margin: 0 auto;
	}
}*/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.image {
		width: 700px;
		height: auto;
	}
	.phone {
		font-size: 0.9em;
		margin-top: 11px;
	}
	.headerBlock2 ul a {
		font-size: 0.7em;
	}
	.headerSocials {
		margin: 5px 0 0 0px;
	}
}

/* custom */
@media only screen and (max-width : 870px) {
	.image {
		width: 600px;
		height: auto;
	}
}

@media only screen and (max-width : 767px) and (orientation: landscape) {
	.headerButtonArrow {
		width: 10vw;
	}
	.headerButton {
		width: 10vw;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.center {
		margin: 0;
	}
	.header {
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 55px;
	}
	.blockSmallImages,
	.blockVideo,
	.blockAdvantages{
		margin: 0;
	}
	.showsBlock {
		margin: 0;
	}
	.headerButtonArrow {
		position: fixed;
		right: 3vw;
		bottom: 7vh;
	}

	.headerBlock2 ul a {
		display: none;
	}


	.phone {
		font-size: 1.2em;
	}

	.headerBlock3 {
		display: block;
		z-index: 1000;
	}

	.image {
		width: 500px;
		height: auto;
	}

	.blockRider {
    margin: 0 0 10px 0;
	}

	.headerForSmallDevices {
		display: block;
		position: relative;
		z-index: 10;
		-ms-flex-flow: column;
		    flex-flow: column;
		top: -300px;
		width: 100%;
		height: 0px;
		transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
	}

	.headerForSmallDevices a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding: 3px;
		background-color: #AA2222;
		text-decoration: none;
		font-family: "RobotoRegular";
		font-size: 1.5em;
		border: 1px solid black;
		color: white;
	}

	.homeButtonForSmallDevices {
	  position: fixed;
	  right: 9px;
	  bottom: 12px;
		z-index: 100;
	}



	/*::-webkit-scrollbar {
    display: none;
	}*/

	.arrowLeft,
	.arrowRight {
	  padding: 15px;
	}
/*------------------test-----------------*/
	/*.slider {
	  display: flex;
		flex-wrap: nowrap;
		position: relative;
		height: 200px;
		width: 768px;
		overflow-x: scroll;

	}*/
/*------------------test-----------------*/
}

/* custom 2 */
@media only screen and (max-width : 665px) {
	.image {
		width: 400px;
		height: auto;
	}

	.arrowLeft,
	.arrowRight {
	  padding: 10px;
	}
	.madMenIntro,
	.blockSmallImages,
	.blockVideo,
	.blockAdvantages{
		margin: 0;
	}
}

/* custom 3 */
@media only screen and (max-width : 555px) {
	.image {
		width: 350px;
		height: auto;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.riderDescription {
		min-width: 200px;
	}

	.image {
		width: 300px;
		height: auto;
	}
	.blockHeader {
		font: 44px "American Captain", Consolas, sans-serif;
	}

	.advantagesImg {
		height: 250px;
		width: auto;
	}

	.youtubeVideo {
		width: 250px;
		height: auto;
	}

	.smallImage {
		width: 95%;
		height: 80%;
	}

	.youtubeVideo {
		width: 95%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	html {
		overflow-x: hidden;
	}

	.arrowLeft,
	.arrowRight {
	  padding: 5px;
	}

	.image {
		width: 200px;
		height: auto;
	}

	.blockHeader {
		font: 35px "American Captain", Consolas, sans-serif;
	}

	.advantagesImg {
		height: 280px;
		width: auto;
	}

	.riderName {
    font: 25px "American Captain", Consolas, Sans-Serif;
		padding: 0 0 0 8px;
	}

	.headerButton {
		position: fixed;
		width: 100px;
		padding: 0;
		z-index: 1000;
	}

	.headerButtonArrow {
		display: none;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.headerBlock3 {
		display: none;
	}
	.headerButtonArrow {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
