/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.image {
		width: 800px;
		height: auto;
	}
}

/* custom */
@media only screen and (max-width : 1516px) and (min-width : 1199px) {
	.blockOurRiders {
		width: 1199px;
		margin: 0 auto;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.image {
		width: 700px;
		height: auto;
	}
}

/* custom */
@media only screen and (max-width : 870px) {
	.image {
		width: 600px;
		height: auto;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

	

	.headerBlock2 {
		display: none;
	}

	.headerBlock3 {
		display: block;
	}

	.image {
		width: 500px;
		height: auto;
	}

	.blockRider {
    margin: 0 0 10px 0;
	}

	.headerForSmallDevices {
		/*position: fixed;*/
		-ms-flex-flow: column;
		    flex-flow: column;
		overflow: hidden;
		-webkit-transition: background 0.9s ease;
		transition: background 0.9s ease;
		width: 100%;
		height: 0px;
	}

	.headerForSmallDevices a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding: 3px;
		background-color: #AA2222;
		text-decoration: none;
		font-family: "RobotoRegular";
		font-size: 1.5em;
		border: 1px solid black;
		color: white;
	}

	.homeButtonForSmallDevices {
	  position: fixed;
	  right: 9px;
	  bottom: 12px;
		z-index: 100;
	}

	/*::-webkit-scrollbar {
    display: none;
	}*/

	.arrowLeft,
	.arrowRight {
	  padding: 15px;
	}
/*------------------test-----------------*/
	/*.slider {
	  display: flex;
		flex-wrap: nowrap;
		position: relative;
		height: 200px;
		width: 768px;
		overflow-x: scroll;

	}*/
/*------------------test-----------------*/
}

/* custom 2 */
@media only screen and (max-width : 665px) {
	.image {
		width: 400px;
		height: auto;
	}

	.arrowLeft,
	.arrowRight {
	  padding: 10px;
	}
}

/* custom 3 */
@media only screen and (max-width : 555px) {
	.image {
		width: 350px;
		height: auto;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.riderDescription {
		min-width: 200px;
	}

	.image {
		width: 300px;
		height: auto;
	}
	.blockHeader {
		font: 44px "American Captain", Consolas, sans-serif;
	}

	.advantagesImg {
		height: 250px;
		width: auto;
	}

	.youtubeVideo {
		width: 250px;
		height: auto;
	}

	.smallImage {
		width: 95%;
		height: 80%;
	}

	.youtubeVideo {
		width: 95%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	html {
		overflow-x: hidden;
	}

	.arrowLeft,
	.arrowRight {
	  padding: 5px;
	}

	.image {
		width: 200px;
		height: auto;
	}

	.blockHeader {
		font: 35px "American Captain", Consolas, sans-serif;
	}

	.advantagesImg {
		height: 280px;
		width: auto;
	}

	.riderName {
    font: 25px "American Captain", Consolas, Sans-Serif;
		padding: 0 0 0 8px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.headerBlock3 {
		display: none;
	}
	.center {
		margin-top: 50px;
	}

	.headerButton {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
